- if ::EE::Gitlab::ExternalAuthorization.enabled?
  .form-group
    = f.label :external_authorization_classification_label, class: 'label-light' do
      = s_('ExternalAuthorizationService|Classification Label')
      %span.light (optional)
    = f.text_field :external_authorization_classification_label, class: "form-control"
    %span.help-block
      = external_classification_label_help_message
